:root {

  --primary-color: #00008B80;
  --secondary-color: #FFF;
  --highlight-color: #ADD8E680;
  --button-padding: 1em 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(https://tinyurl.com/tomp5);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
} 

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#menu h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

#menu button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: var(--button-padding);
  margin: 0.5em 0;
  cursor: pointer;
  padding: 0.5em 1em;
}

@media screen and (max-width: 768px) {
  #menu h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-size: 100% 100%;
  }
}

#instructions-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

#score-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

#score-container h1,
#score-container div,
#score-container button {
  margin-top: 20px;
}

#game {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  margin: auto;
  display: block;
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--highlight-color);
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

#game-container.game-started {
  display: flex;
}

#game-canvas {
  display: none;
  background-color: rgb(13, 13, 13);
}

#gameOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.option {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.option label {
  margin-right: 10px;
  color: var(--primary-color);
}

.option select,
.option input[type="checkbox"] {
  font-size: 1em;
  padding: 5px;
}

#options-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

#controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#score {
  position: absolute;
  top: 50px;
  left: 25%;
  transform: translateX(-50%);
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border-radius: 3px;
}

#title {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateX(-50%);
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media screen and (min-width: 1080px) and (max-height: 2408px) {
  body {
    background-color: #000;
  }

  #menu {
    padding: 10px;
  }

}
