:root {
  --primary-color: #00008b80; /* Utilisé pour le texte principal et les éléments d'interface */
  --secondary-color: #fff; /* Utilisé pour les arrière-plans */
  --white-color: #fff; /*couleur blanche par défaut*/
  --highlight-color: #000; /* Utilisé pour les éléments d'interface à mettre en évidence */
  --button-padding: 1em 1em; /* Utilisé pour l'espacement intérieur des boutons */
  --clr: #5A65F1;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Définition des styles de base pour le corps du document */
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-direction: column;
  gap: 60px;
}

/* Styles du menu principal */
#menu {
  /* Affichage des éléments en colonne et centrés */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Hauteur fixée à 100vh pour occuper tout l'écran */
  height: 100%;
  /* Couleur de fond et de texte définies via variables CSS */
  background-color: #323840;
  max-width: 50%;
  margin-top: 0;
  color: var(--secondary-color);
}

/* Styles du titre du menu */
#menu h1 {
  /* Taille du texte définie en em pour être relative à la taille du texte de base */
  font-size: 2em;
  /* Espace sous le titre */
  margin-bottom: 1em;
}

/* Styles des boutons du menu principal */
#menu button {
  /* Taille identique à celle du menu d'instructions */
  padding: var(--button-padding);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  position: relative;
  background: transparent;
  color: var(--clr);
  text-decoration: none;
  transition: 0.5s;
}

/* Styles des boutons du menu principal au survol */
#menu button:hover {
  background: transparent; /* Modification ici pour conserver la couleur de fond transparente */
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

/* Styles du conteneur des instructions */
#instructions-container {
  /* Positionnement absolu et centré */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Styles de fond et de couleur du texte */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* Espacement intérieur */
  padding: 20px;
  /* Arrondissement des coins */
  border-radius: 15px;
  /* Par défaut, le conteneur n'est pas visible */
  display: none;
  /* Centrage du contenu */
  justify-content: center;
  align-items: center;
}

/* Styles du conteneur de score */

#score-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Espacement au-dessus des éléments du conteneur de score */
#score-container h1,
#score-container div,
#score-container button {
  margin-top: 20px;
}

/* Styles du jeu lui-même */
#game {
  /* Couleur de fond et bordure */
  background: var(--secondary-color-color);
  border: 1px solid var(--secondary-color);
  /* Centrage du jeu */
  margin: auto;
  /* Affichage en bloc pour permettre l'application des marges automatiques */
  display: flex;
}

/* Styles du conteneur du jeu */
#game-container {
  /* Positionnement absolu et centré */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Styles de fond */
  background-color: var(--highlight-color);
  /* Arrondissement des coins */
  border-radius: 5px;
  /* Ajout de la bordure bleue */
  border: 5px solid var(--primary-color);
  /* Par défaut, le conteneur n'est pas visible */
  display: none;
  /* Centrage du contenu */
  justify-content: center;
  align-items: center;
  /* Hauteur minimale pour remplir la fenêtre de visualisation */
  min-height: 100vh;
  /* Centrage du conteneur */
  margin: auto;
}

/* Modification du style du conteneur de jeu lorsque la classe .game-started est ajoutée */
#game-container.game-started {
  /* Le conteneur est rendu visible et son contenu est affiché en flex */
  display: flex;
}

/* Styles du canvas du jeu */
#game-canvas {
  /* Par défaut, le canvas du jeu est caché */
  display: none;
  /* Couleur de fond du canvas */
  background-color: #1f2489;
}
.frame {
  color: #fff;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  position: fixed;
}

#score-frame {
  position: fixed;
  top: 10px; /* Modifier en fonction des besoins */
  left: -115px; /* Modifier en fonction des besoins */
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
}

#time-frame {
  position: fixed;
  top: 10px; /* Modifier en fonction des besoins */
  right: -123px; /* Modifier en fonction des besoins */
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
}

/* Styles du conteneur des options du jeu */
#gameOptions {
  /* Espacement au-dessus et styles de flexbox */
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* Largeur fixe et centrage */
  width: 300px;
  /* Styles de fond et de bordure */
  background-color: var(--primary-color);
  border-radius: 5px;
  /* Espacement intérieur et ombre portée */
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Styles des éléments d'options */
.option {
  /* Espacement vertical */
  margin-top: 20px;
  margin-bottom: 20px;
  /* Taille de la police relative */
  font-size: 1.2em;
}

/* Styles des labels dans .option et #gameOptions */
.option label,
#gameOptions label {
  font-size: 1.2em;
  /* Espacement à droite et couleur du texte */
  /* L'importance est forcé pour s'assurer que ce style s'applique */
  margin-right: 10px;
  color: var(--primary-color) !important;
}

/* Styles des select et des checkbox dans .option */
.option select,
.option input[type="checkbox"] {
  /* Taille de la police relative et espacement intérieur */
  font-size: 1em;
  padding: 5px;
}

/* Styles du conteneur d'options */
#options-container {
  /* Centrage du texte et positionnement absolu */
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Styles de fond et de couleur du texte */
  background-color: #fff;
  color: var(--primary-color);
  /* Espacement intérieur et arrondissement des coins */
  padding: 20px;
  border-radius: 15px;
  /* Par défaut, le conteneur n'est pas visible */
  display: none;
  /* Centrage du contenu */
  justify-content: center;
  align-items: center;
}

/* Styles des contrôles du jeu */
#controls {
  position: fixed;
  bottom: 10px; /* Ajustement pour aligner avec le bas de la page */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 80%; /* Ajustement pour une meilleure répartition sur la largeur */
  padding: 10px 0; /* Ajout d'un peu de padding vertical */
  border-radius: 10px; /* Bords arrondis pour correspondre aux autres boutons */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

#controls button {
  padding: var(--button-padding);
  font-size: 1em;
  letter-spacing: 0.1em;
  background: transparent;
  color: var(--clr); /* Utilisation de la couleur personnalisée pour la cohérence */
  border: 2px solid var(--clr); /* Bordure pour distinguer les boutons */
  border-radius: 5px; /* Bords arrondis */
  cursor: pointer; /* Curseur en forme de main pour indiquer l'interactivité */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour le survol */
}

#controls button:hover {
  background-color: var(--clr); /* Changement de fond au survol */
  color: var(--secondary-color); /* Changement de couleur du texte au survol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Ombre portée plus prononcée au survol */
}


/* Styles du score */
#score {
  /* Positionnement absolu et centrage horizontal */
  position: fixed;
  top: 50px;
  left: 25%;
  transform: translateX(-50%);
  /* Couleur du texte, taille de la police et poids de la police */
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  /* Espacement intérieur et arrondissement des coins */
  padding: 20px;
  border-radius: 3px;
}

/* Styles du titre */
#title {
  /* Positionnement absolu et centrage horizontal */
  position: fixed;
  top: 0;
  left: 20%;
  transform: translateX(-50%);
  /* Couleur du texte, taille de la police et poids de la police */
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
  /* Bordure et espacement intérieur */
  border: 2px solid var(--primary-color); /* Ajout du cadre */
  padding: 10px; /* Espacement entre le texte et le cadre */
  /* Couleur de fond et arrondissement des coins */
  background-color: var(--secondary-color); /* Couleur de fond du cadre */
  border-radius: 10px; /* Bords arrondis du cadre */
}

/* Ajustement de la taille du titre dans le menu pour les écrans plus petits que 768px */
@media screen and (max-width: 768px) {
  #menu h1 {
    font-size: 1.5em;
  }
}

/* Ajustement du fond pour les écrans plus petits que 480px */
@media screen and (max-width: 480px) {
  body {
    /* Le fond occupe tout l'écran */
    background-size: 100% 100%;
  }
}

/* Suppression des transitions pour les utilisateurs qui préfèrent réduire le mouvement */
@media (prefers-reduced-motion: reduce) {
  * {
    /* Suppression de toutes les transitions */
    transition: none !important;
  }
}

/* Modification du fond et du padding du menu pour les écrans plus larges que 1080px et plus hauts que 2408px */
@media screen and (min-width: 1080px) and (max-height: 2408px) {
  body {
    /* Changement de la couleur de fond */
    background-color: #323840;
  }

  #menu {
    /* Ajout d'un padding au menu */
    padding: 10px;
  }
}

.particle-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#particles-js {
  /* Inclut le padding et la bordure dans la taille totale */
  box-sizing: border-box;
  /* Opacité de l'élément à 50% */
  opacity: 1;
  /* Padding autour du contenu pour l'espace intérieur */
  padding: 0px 0px;
  /* Arrondit les coins */
  border-radius: 10px;
  /* Couleur d'arrière-plan définie par une variable CSS */
  background-color: #323840;
  /* Positionnement relatif pour le conteneur */
  position: absolute;
  z-index: -1; /* place cet élément derrière tous les autres éléments dont le z-index est supérieur ou égal à 0 */
  width: 100%; /* La largeur est définie sur 100% de la largeur du conteneur parent */
  height: 100%; /* La hauteur est définie sur 100% de la hauteur du conteneur parent */
  top: 0;
  left: 0;
}

.block {
  /* styles généraux pour tous les blocs */
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.i {
  /* styles spécifiques pour le Tetramino I */
  background: linear-gradient(45deg, cyan, darkcyan);
}

.o {
  /* styles spécifiques pour le Tetramino O */
  background: linear-gradient(45deg, yellow, gold);
}

.t {
  /* styles spécifiques pour le Tetramino T */
  background: linear-gradient(45deg, purple, darkblue);
}

.s {
  /* styles spécifiques pour le Tetramino S */
  background: linear-gradient(45deg, green, darkgreen);
}

.z {
  /* styles spécifiques pour le Tetramino Z */
  background: linear-gradient(45deg, red, darkred);
}

.j {
  /* styles spécifiques pour le Tetramino J */
  background: linear-gradient(45deg, blue, darkblue);
}

.l {
  /* styles spécifiques pour le Tetramino L */
  background: linear-gradient(45deg, orange, darkorange);
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #323840;
  max-width: 50%;
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
}
